@import "https://fonts.googleapis.com/css?family=Comic+Neue:400";
@import "https://fonts.googleapis.com/css?family=Roboto:400";

:root {
  --fonts-default: "Roboto", sans-serif;
  --fonts-headline: "Comic Neue", serif;

  --font-base-size: 1em;
  --font-scale-ratio: 1.2;

  --font-weight-normal: 400;
  --font-weight-headline: 600;

  --font-color-main: #fff;
  --font-color-secondary: #000;
  --font-color-extra: #115fab;

  // --font-optimal-character-number: 70ch;
  --font-max-character-number: 90ch;
}

h1,
h2,
h3 {
  font-family: var(--fonts-headline);
  font-weight: var(--font-weight-headline);
}

p,
span {
  width: var(--font-max-character-number);
  text-align: justify;
  text-justify: inter-word;
}

html,
body {
  font-family: var(--fonts-default);
  font-weight: var(--font-weight-normal);
  font-kerning: none;
  font-size: var(--font-base-size);
  line-height: 1.8em;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 768px) {
  :root {
    --font-max-character-number: 50ch;
  }

  p,
  span {
    width: auto !important;
  }
}
