.page-contact__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-content: baseline;
  height: 100%;
}

.page-contact__grid--description {
  grid-row: auto;
  grid-column: 1 / span 2;
  margin-left: 1.2rem;

  p {
    width: var(--font-max-character-number);
    text-align: justify;
    text-justify: inter-word;
  }

  ul {
    list-style: inside;
    li {
      font-size: large;
      font-weight: var(--font-weight-normal);

      span {
        vertical-align: top;
      }

      span:hover {
        color: var(--color-accent-3);
      }
    }
    li::marker {
      content: "\261E";
      color: var(--color-accent-3);
      font-size: 50px;
    }
  }

  .page-contact__form {
    background: var(--color-background-section);
    margin-right: 1.2rem;
    padding: 0.1em 1em 1em 1em;
    border-radius: 0.2em;

    h3 {
      color: var(--font-color-main);
    }

    form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 1em;

      input[name="user_email"],
      textarea:is([name="user_subject"], [name="user_message"]) {
        grid-column: 1 / span 2;
      }

      input {
        height: 2em;
      }

      input:focus {
        box-shadow: 0 0 0 0.1em var(--color-background-section),
          0 0 0 0.3em var(--color-accent-3);
      }

      input:focus::-webkit-input-placeholder,
      textarea:focus::-webkit-input-placeholder {
        color: transparent;
      }

      textarea[name="user_subject"] {
        height: 2em;
      }

      textarea {
        height: 5em;
      }

      input,
      textarea {
        // box-shadow: 0px 0px 1px 2px;
        width: 100%;
        // margin: auto;
        border-width: 0;
        resize: none;
        // margin: auto;
        padding-left: 0.5em;
        border: 0;
        font-kerning: none;
        font-size: large;
        // line-height: 1.8em;
        letter-spacing: 0.05em;
        border-radius: 0.2em;
      }

      input:is(:active, :focus),
      textarea:is(:active, :focus) {
        outline: none;
      }

      &.displayErrors input:invalid {
        box-shadow: 0 0 0 0.1em var(--color-background-section), 0 0 0 0.2em red;
        border-radius: 0.2em;
      }

      &.displayErrors textarea:invalid {
        box-shadow: 0 0 0 0.1em var(--color-background-section), 0 0 0 0.2em red;
        border-radius: 0.2em;
      }

      button {
        outline: none;
        background-color: var(--color-accent-2);
        border: none;
        width: 25%;
        color: white;
        border-radius: 0.2em;
      }

      button:hover {
        box-shadow: 0 0 0 0.1em var(--color-background-section),
          0 0 0 0.3em var(--color-accent-2);
      }

      button:active {
        transform: translateY(0.1em);
      }
    }

    .page-contact__form__status {
      box-shadow: 0 0 0 0.1em var(--color-background-section),
        0 0 0 0.3em var(--color-accent-2);
      color: var(--font-color-main);

      p {
        display: none;
      }

      p.page-contact__form__status--active {
        display: inline;
      }
    }
  }
}
