.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header {
  margin-top: 1rem;
  padding-inline: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    padding-inline: 2rem;
  }

  svg {
    width: 36px;
    height: auto;
  }

  nav {
    display: flex;
    gap: 1.5rem;

    a:link {
      text-decoration: none;
    }

    a:visited,
    a:active,
    a:hover {
      text-decoration: underline;
    }
  }
}
