@use "./pages/pages.scss";
@use "./abstracts/abstracts.scss";
@use "./components/components.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

header,
section {
  padding: 1rem 0;
}

.container {
  margin-inline: auto;
  width: 100%;
}
