@use "./PageHeaderContent.scss";
@use "./PageHeaderButton.scss";

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  color: var(--color-font-main);
  padding: 1rem 0;
  max-height: 10%;
}


// @media screen and (max-width: 767px) {
//   .header-menu__navigation {
//     margin-top: 3.325rem !important;

//     &__item svg {
//       width: var(--font-size-main);
//     }
//   }

//   .header-menu .header-menu__hamburger {
//     & > div::before {
//       top: -5px;
//     }

//     & > div::after {
//       top: 5px;
//     }
//   }
// }
