.page-header__button {
  grid-column: 4;
  grid-row: 1 / span 2;
  justify-self: end;
  align-self: center;
  padding: 0;
  margin-right: 1rem;
  border: none;
  background: transparent;
  cursor: pointer;

  svg {
    color: var(--color-font-main);
    height: 2rem;
    width: 2rem;
  }
}
