$imageBreakpoints: (
  "350px": 7.5rem,
  "768px": 12.5rem,
);

.page-content__section__home--image {
  transform: scaleX(-1);
  margin-left: 1rem;
  float: right;

  @each $breakpointKey, $breakpointValue in $imageBreakpoints {
    @media (min-width: $breakpointKey) {
      width: $breakpointValue;
    }
  }
}
